{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
password
{% endblock %}

{% block content %}
<div class="col-md-6 offset-md-3" >
<h2 class="text-center">Change Password</h2>
    <hr>
    <br>
    <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
           {% if messages %}
             <span class="messages">
    {% for message in messages %}
            <span style="color: #17a2b8">{{ message }}</span>
   {% endfor %}
                  </span>
        {% endif %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-outline-primary form-control col-lg-3">
    </form>
</div>



{% endblock %}