html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
	text-decoration:none;
}

.clear {
	clear:both;
}

body {
	padding: 0;
	margin: 0;
	background: #FFF;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}

a:focus, a:hover {
	text-decoration: none;
	outline: none;
}
body {
    padding: 3em 0;
    background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../images/bg.png);
	background-attachment:fixed;
	background-size:cover;
}
p{
	font-family: 'Open Sans', sans-serif;
}
.register-full {
    width: 70%;
    margin: 4em auto 6em;
}
.register-right {
    background: #FFFFFF;
    background: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(253, 249, 249, 0.75);
    -moz-box-shadow: 0px 0px 2px 1px rgba(253, 249, 249, 0.75);
    box-shadow: 0px 0px 2px 1px rgba(253, 249, 249, 0.75);
}
.register-in {
    padding: 1em;
}
.register-in.middle {
    padding: 1em;
}
.register-left{
    width: 60%;
    float: left;
}
.register-right {
    width: 40%;
    float: left;
}
.register-left p {
    margin: 2em 0;
    line-height: 28px;
    font-size: 15px;
    font-weight: 100;
    width: 85%;
    letter-spacing: 1px;
    color: #FFFFFF;
}
.register-left h1,.register-left h2 {
    font-size: 3em;
    text-transform: capitalize;
    margin-bottom: .2em;
    color: #FFFFFF;
}
.register-right a {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: #fff;
}

.header{
    width: 70%;
    margin: 0em auto;
}
.logo,.social {
    float: left;
}
.logo a{
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

/*-- copyright --*/
.agile-copyright {
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin: 2em 0 0;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
}

/* responsive design */
@media (max-width: 1440px) {
	.register-left h1, .register-left h2 {
		font-size: 2.5em;
	}
	.register-right a {
		font-size: 1.4em;
	}
}
@media (max-width: 1366px) {
	.register-left h1, .register-left h2 {
		font-size: 2.4em;
	}
	.logo a {
		font-size: 45px;
	}
	.register-right {
		width: 42%;
		float: left;
	}
	.register-left {
		width: 58%;
		float: left;
	}
}
@media (max-width: 1280px) {
	.register-right {
		width: 44%;
		float: left;
	}
	.register-left {
		width: 56%;
		float: left;
	}
	.register-full {
		width: 80%;
	}
	.register-left p {
		width: 88%;
	}
	.register-left h1, .register-left h2 {
		font-size: 2.2em;
	}
	.header {
		width: 80%;
	}	
}
@media (max-width: 1080px) {
	.register-full,.header {
		width: 90%;
	}
	.register-left p {
		font-size: 14px;
		margin: 1.5em 0;
	}
	.register-in {
		padding: 2em;
	}
	.register-in.middle {
    	padding-left: 2em;
	}
	.register-right a {
		font-size: 1.3em;
	}
	.logo a {
		font-size: 40px;
	}
}
@media (max-width: 1024px) {
	.register-left h1 {
		font-size: 2em;
	}
}

@media (max-width: 900px) {
	.register-left h1 {
		font-size: 2.1em;
	}
	.register-left h1, .register-left h2 {
		font-size: 2em;
	}
	.register-right a {
		font-size: 1.2em;
	}
}

@media (max-width: 800px) {
	.register-in {
		padding: 2em;
	}
}
@media (max-width: 768px) {
	.register-left {
		width: 100%;
		float: none;
	}
	.register-right {
		width: 60%;
		float: none;
		margin: 3em 0;
	}
	.register-left p {
		width: 100%;
	}
	.register-full {
		margin: 3em auto 3em;
	}
}

@media (max-width: 736px) {
	.register-left h1, .register-left h2 {
		font-size: 1.8em;
	}
	.logo a {
		font-size: 35px;
	}
}
@media (max-width: 667px) {
	.register-in {
		padding: 2em;
	}
}
@media (max-width: 640px) {
	.agile-copyright {
		letter-spacing: 1px;
	}
}
@media (max-width: 568px) {
	.register-in {
		padding: 1.5em;
	}
	.register-in.middle {
		padding-left: 1.5em;
	}
	.register-left h1 {
		font-size: 1.7em;
	}
	.agile-copyright {
		margin: 3em 1em 0;
		line-height: 26px;
	}
	.register-right a {
		font-size: 1.1em;
	}
}
@media (max-width: 480px) {
	.register-left, .register-right {
		width: 100%;
		height: inherit;
	}
	.register-full {
		width: 90%;
	}
	.register-left h1, .register-left h2 {
		font-size: 1.5em;
	}
}
@media (max-width: 414px) {
	.register-left{
		width: 100%;
		height: inherit;
	}
	.register-right{
		width:100%;
	}
	.logo {
		margin-top: 0em;
	}
	.register-left h1, .register-left h2 {
		font-size: 1.4em;
	}
	.register-right a {
		font-size: 1em;
		word-spacing: 0px;
	}
	.logo a {
		font-size: 30px;
	}
}